.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

#screen {
  width: 100%;
  height: 60px;
  font-size: 32px;  
  text-align: right;
  padding-right: 10px;
  background-color: #ddd;
  border: none;
  outline: none;
  border-radius: 5px;
}

input[type="button"] {
  width: 100%;
  height: 60px;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[value="+"],
input[value="-"],
input[value="x"],
input[value="รท"] {
  background-color: orange;
  color: white;
  font-weight: bold;
}

input[type="button"]:hover {
  background-color: #ddd;
}
